/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    color: #000;
    background: #333;
    margin: 0;
}

img {
    max-width: 100%; /* DO NOT delete or change this line */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #FFEFE0; /* cream */
}

nav ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

nav ul li {
    margin-left: 1rem;
}

article {
    display: flex;
    align-items: center;
    padding: .5rem 0;
}

section {
    max-width: 600px;
    flex: 1 1 600px;
}


footer, footer p {
    text-align: center;
    color: #fff;
    padding: 1rem;
}

.text {
    color: #000;
    padding: 1.5rem;
    line-height: 1.5rem;
}

.photo {
    color: #000;
    margin: 0 1.5rem 1.5rem 3rem;
    flex: 1 1 600px;
}

.photo p {
  font-size: .9rem
}

#cougar {
    background: #FFE2C7;
}

#lion {
    background: #FFD5AE;
}

#tiger {
    background: #FFBD82;
}

/* --- links --- */

a {
    color: #002885; /* dark blue */
}

a:hover {
    color: #4D4D4D; /* grey */
}
